.grid {
    width: 400px;
    height: 600px;
    background-image: url('dark_backgrounf.png');
    position: relative;
    font-size: 200px;
    color: white;
    text-align: center;
}

.doodler {
    width: 80px;
    height: 85px;
    background-image: url('unicorn.png');
    position: absolute;
}

.platform {
    width: 85px;
    height: 15px;
    background-image: url('platform.png');
    position: absolute;
}

.addItem {
    width: 40px;
    height: 40px;
    background-image: url('shavedicesmall.png');
    position: absolute;
}

.minusItem {
    width: 40px;
    height: 40px;
    background-image: url('coriandersmall.png');
    position: absolute;
}